DirectoryIndex index.php index.html


<VirtualHost *:80>
  ServerName {{ teampass_server_name }}
  DocumentRoot /var/www/html/teampass

  <Directory "/var/www/html/teampass">
    AllowOverride All
    Options -Indexes +FollowSymLinks
    Require all granted
  </Directory>

  ErrorLog ${APACHE_LOG_DIR}/{{ teampass_server_name }}-error_log
  LogLevel warn
  CustomLog ${APACHE_LOG_DIR}/{{ teampass_server_name }}-access_log combined
  ServerSignature On

</VirtualHost>
